.redirection{
  width: 100%;
  padding-bottom: 5%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
  justify-content: space-evenly;
  text-align: center;
  &_item{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $green-light;
    text-decoration: none;
  }
  &_img{
    width: 45px;
    height: 45px;
    margin-bottom: .5em;
    border-radius: 50%;
    box-shadow: 0 0 10px $black-light;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $black-light;
    text-decoration: none;
    transition: background-color .3s, box-shadow .3s;
    &:hover{
      background-color: $white-dark;
      box-shadow: 0 0 18px rgba(255, 255, 255, 0.5);
    }
  }
  &_caption{
    color: $green-light;
    text-decoration: none;
    position: relative;
    &:hover{
      &::after{
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
    &::after{
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $white;
      position: absolute;
      left: 0;
      bottom: -7px;
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform .3s;
    }
    &:before{
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $green-light;
      opacity: .5;
      position: absolute;
      left: 0;
      bottom: -7px;
    }
  }
}

@media screen and (max-width: 425px){
  .redirection{
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
}
