$black: #000000;
$black-light: #353a37;
$black-shadow: #353a37d5;
$lightblue: #2196f3;
$violet: #833AB4;
$violet-dark: #662d8b;
$green-dark: #00460F;
$green-ultra-dark: #002408;
$green-text: #acfcb6;
$green-light: #80FF90;
$green-ultra-light: #4aff62;
$green-gradient: #020202,#002408, transparent;
$gray-dark: #535353;
$gray: #7c7c7c;
$white-dark: #c3e6dd;
$white-shadow: #d9fff52c;
$white: #FFFFFF;

$linkedin: #2867B2;
$linkedin-light: #5385c1;
$instagram: #E1306C;
$instagram-light: #e75989;
$instagram-gradient: #833AB4, #C13584, #E1306C;
$email: #DB4A39;
$email-light: #e26e61;

$coursera: #2a73cc;

$font-title: 700 3rem 'Montserrat Alternates', sans-serif;
$font-caption: 600 1.75rem 'Montserrat Alternates', sans-serif;
$font-text: 400 1rem 'Montserrat', sans-serif;
$font-highlight: 600 1rem 'Montserrat', sans-serif;
$font-phrase: 400 1.2rem 'Courgette', cursive;
